<!DOCTYPE HTML>
<html>
    <head>
      <title>{{title}}</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {#
        Favicon madness:
        See https://stackoverflow.com/questions/23849377/html-5-favicon-support
      #}
      <!-- For IE 9 and below. ICO should be 32x32 pixels in size -->
      <!--[if IE]><link rel="shortcut icon" href="img/favicon.ico"><![endif]-->
      <link rel="icon" href="static/img/favicon.png" type="image/png" sizes="16x16">
      <link rel="icon" href="static/img/favicon.gif" type="image/gif" sizes="16x16">
      {## CSS before scripts: #}
      <link href="static/css/extern/bootstrap.min.css" rel="stylesheet">
      <link href="static/css/extern/nanoscroller.css" rel="stylesheet">
      <link href="static/css/myflow.css" rel="stylesheet">
      <link href="static/css/main.css" rel="stylesheet">
      {# External .js files: #}
      <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=geometry"></script>
      {# RequireJS to provide module magic: #}
      {% if debug %}
      <script data-main="static/js/App.js" src="static/js/extern/require.js"></script>
      {% else %}
      <script src="static/js/App-minified.js"></script>
      {% endif %}
      {# Analytics: #}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-28740209-1', '127.0.0.1');
        ga('send', 'pageview');
      </script>
    </head>
  <body>
    <div class="navbar myflow row-fluid" id="topMenu">
      {# {% include 'TopMenu.html' %} #}
    </div>
    <div class="container-fluid hide">
      <a class="hidelink btn"
         data-name="hidelink_left" data-target="#leftMenu"
         title="{{hidelinkLeft}}">
        <i class="icon-chevron-left"></i>
      </a>
      <a class="hidelink btn"
         data-name="hidelink_right" data-target="#rightMenu"
         title="{{hidelinkRight}}" style="right: 6px;">
        <i class="icon-chevron-right"></i>
      </a>
      <div class="mycontent myflow row-fluid">
        <div id="leftMenu" class="span2 well">
          {# {% include 'LanguageMenu.html' %} #}
        </div>
        <div id="contentArea"{% if isMapView %} style="bottom:2em;"{% endif %} class="span8">
          <div id="wordTableContainer" class="hide">
            {# {% include 'WordTable.html.html' %} #}
          </div>
          <div id="languageTableContainer" class="hide">
            {# {% include 'LanguageTable.html' %} #}
          </div>
          <div id="mapViewContainer" class="hide">
            {# {% include 'MapView.html' %} #}
          </div>
          <div id="map_canvas" class="hide"></div>
          <div id="multitableContainer" class="hide">
            {# {% include 'Multitable.html' %} #}
          </div>
          <div id="multitableTransposedContainer" class="hide">
            {# {% include 'MultitableTransposed.html' %} #}
          </div>
          <div id="contributors" class="hide">
            {# {% include 'contributors.html' %} #}
          </div>
        </div>
        <div id="rightMenu" class="span2 well">
          {# {% include 'WordMenu.html' %} #}
        </div>
      </div>
    </div>
    <div id="appSetup" class="row-fluid">
      <div class="span4 offset4 well">
        <h3>Loading…</h3>
        <div class="progress progress-striped active">
          <div class="bar" style="width: 1%;"></div>
        </div>
      </div>
    </div>
    {# {% include 'LoadModal.html' %} #}
    <div class="modal hide" id="loadModal" role="dialog" tabindex="-1">
      {# {% include 'LoadModal.html' %} #}
    </div>
    <div class="modal hide" id="shortLinkModal" role="dialog" tabindex="-1">
    {# To be filled by ShortLinkModalView #}
    </div>
    <audio id="audioLogic" class="hide"><audio>
  </body>
</html>
