#AuthName "Restricted Area" 
#AuthType Basic 
#AuthUserFile /var/www/shk/main/.htpasswd
#AuthGroupFile /dev/null 
#require valid-user

# Disabling the annoying magic quotes (http://www.php.net/manual/en/security.magicquotes.disabling.php):
php_flag magic_quotes_gpc Off

# Rewriting of routes:
RewriteEngine on
Options +FollowSymlinks -MultiViews

RewriteBase /shk/main/query/

# Inspired by https://stackoverflow.com/questions/18177290/rewrite-url-with-htaccess-to-hide-php-extension
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME}\.php -f 
RewriteRule ^(.*)$ $1.php
