A1_Jqr/
A1_Kwk/
A2_Hcn/
A2_Puk/
A2_StT/
BSv_Blt_Lat_Std_Ceesis_Acc/
BSv_Blt_Lith_Std_Vilnius_Acc/
BSv_SvE_Rsyn_Huts_Ro_Mm_Kryuyi_Dl/
BSv_SvE_Rus_C_Pen_Vadinsk_Dl/
BSv_SvE_Rus_C_StPt_City_Acc/
BSv_SvE_Ukr_NW_Vol_Riv_Ostroh_Acc/
BSv_SvS_Bulg_W_SW_Sofia_City_Acc/
BSv_SvS_Serb_Std_SerbiaNW_Acc/
BSv_SvS_Slvn_Std_Velenje_Acc/
BSv_SvW_Cz_Std_Plzen_Acc/
BSv_SvW_Pol_Std_Ctl_Acc/
BSv_SvW_Svk_C_S_BanskaBystrica_Town_Acc/
fonetiks.mp3
fonetiks.ogg
Gmc_N_Dan_Isl_Std/
Gmc_N_Far_Std/
Gmc_N_Ice_Std/
Gmc_N_Nor_WaS_Bgn_Svg_Dl/
Gmc_N_Swe_Ctl_Skh_Skh_Dl/
Gmc_N_Swe_Sth_NW_Skane_Dl/
Gmc_W_Dut_Belg_Std/
Gmc_W_Dut_Limb_SE_Eygelshoven_Dl/
Gmc_W_Dut_Nl_Std/
Gmc_W_Dut_ZandF_FlW_Antwerp_Dl/
Gmc_W_Dut_ZandF_FlW_Ostend_Dl/
Gmc_W_Eng_Afr_Nga_Igb_Creo/
Gmc_W_Eng_Afr_Nga_Igb_Typ/
Gmc_W_Eng_EW_Mid_Bux_Typ/
Gmc_W_Eng_EW_Nth_Brw_Typ/
Gmc_W_Eng_EW_Nth_Cor_Typ/
Gmc_W_Eng_EW_Nth_HIs_Trad/
Gmc_W_Eng_EW_Nth_Lng_Typ/
Gmc_W_Eng_EW_Nth_Lpl_Typ/
Gmc_W_Eng_EW_Nth_Mdb_Typ/
Gmc_W_Eng_EW_Nth_Mly_Typ/
Gmc_W_Eng_EW_Nth_Ros_Typ/
Gmc_W_Eng_EW_Nth_Tyn_Emgt/
Gmc_W_Eng_EW_Nth_Tyn_Trad/
Gmc_W_Eng_EW_Nth_Tyn_Typ/
Gmc_W_Eng_EW_RP_RP_Typ/
Gmc_W_Eng_EW_SW_NDv_Emgt/
Gmc_W_Eng_EW_SW_NDv_Trad/
Gmc_W_Eng_EW_SW_NDv_Typ/
Gmc_W_Eng_EW_SW_Som_Emgt/
Gmc_W_Eng_EW_Wls_Rhm_Typ/
Gmc_W_Eng_Irl_Uls_Ant_Trad/
Gmc_W_Eng_Irl_Uls_Ant_Typ/
Gmc_W_Eng_Irl_Uls_Blf_Typ/
Gmc_W_Eng_Irl_Uls_Tyr_Trad/
Gmc_W_Eng_NAm_Std_Can_Typ/
Gmc_W_Eng_NAm_Std_US_Typ/
Gmc_W_Eng_NAm_UsM_Ohi_Typ/
Gmc_W_Eng_NAm_UsN_Chi_AAVE/
Gmc_W_Eng_NAm_UsN_Chi_Typ/
Gmc_W_Eng_NAm_UsNE_Bos_Trad/
Gmc_W_Eng_NAm_UsNE_NYC_Trad/
Gmc_W_Eng_NAm_UsS_Ala_Trad/
Gmc_W_Eng_NAm_UsS_NCa_AAVE/
Gmc_W_Eng_NAm_UsS_NCa_Trad/
Gmc_W_Eng_OAs_SE_Sgp_Typ/
Gmc_W_Eng_Sco_HH_Lws_Typ/
Gmc_W_Eng_Sco_Low_Col_Typ/
Gmc_W_Eng_Sco_Low_Ebg_Emgt/
Gmc_W_Eng_Sco_Low_Ebg_Trad/
Gmc_W_Eng_Sco_Low_Ebg_Typ/
Gmc_W_Eng_Sco_Low_Haw_Trad/
Gmc_W_Eng_Sco_NE_Bck_Trad/
Gmc_W_Eng_Sco_SSE_SSE_Typ/
Gmc_W_Eng_SH_Aus_Per_Typ/
Gmc_W_Eng_SH_NZ_Auk_Typ/
Gmc_W_Eng_SH_SAf_Jbg_Typ/
Gmc_W_Eng_Sub_Std_Ind_Typ/
Gmc_W_Fri_West_Gra_Dl/
Gmc_W_Fri_West_Hylp_Dl/
Gmc_W_GCtl_TSyv_SBurz_Kronstadt_Honigberg_Dl/
Gmc_W_GCtl_W_FrE_Murrhardt_Dl/
Gmc_W_GCtl_W_FrM_Kolsch_Dl/
Gmc_W_GCtl_W_FrMs_Luxemburgish_Dl/
Gmc_W_GHgh_ABv_STyr_Ortisei_Dl/
Gmc_W_GHgh_Alm_H_AlsaceS_Mittlach_Dl/
Gmc_W_GHgh_Alm_H_Biel_Dl/
Gmc_W_GHgh_Alm_Hght_Graubunden_Dl/
Gmc_W_GHgh_Alm_Hght_LiechtWalser_Dl/
Gmc_W_GHgh_Alm_L_AlsaceN_Herrlisheim_Dl/
Gmc_W_GHgh_Alm_L_Bodensee_Bregenz_Dl/
Gmc_W_GHgh_Alm_Swb_Tuebingen_Dl/
Gmc_W_GHgh_Ctl_Hoch_LiechtWalser_Acc/
Gmc_W_GHgh_Ctl_Hoch_Std/
Gmc_W_GHgh_Ydsh_USA_NewYork_Dl/
Gmc_W_GLow_DwLS_GOv_Borculo_Dl/
Gmc_W_GLow_GwLS_EPh_Barterode_Dl/
Gmc_W_GLow_GwLS_NLS_Bargstedt_Dl/
Mpg_Arg_Cbt_LagoRosario/
Mpg_Arg_Nqn_DptoHuiliches/
Mpg_Arg_RNg_Jacobacci/
Mpg_Chl_Rgn9_CholChol_Malalche/
Mpg_Chl_Rgn9_Curarrehue_Trancura/
Mpg_Chl_Rgn9_Dollinco_Rucapangue/
Mpg_Chl_Rgn9_Freire_Huilio/
Proto_Ay/
Proto_Qh/
Q1_Car/
Q1_Chc/
Q1_Hcy/
Q1_Pmp/
Q1_Ync/
Q2a_Cht/
Q2a_Ink/
Q2b_Srn/
Q2b_Trj/
Q2c_Arg_StgoEst_Avell_PaajMuyu/
Q2c_Atl/
Q2c_Crv/
Q2c_Cuz/
Q2c_Hmg/
Q2c_Mrw/
Q2c_Pcn/
Q2c_Pun/
Q2c_Tql/
Q2c_Tty/
Rce_Fr_Nth_Std/
Rce_Ib_NCtm_Ast_Ctl_Std/
Rce_It_Nth_NC_LbE_Lum/
Rce_It_Nth_NC_LbE_VTr/
Rce_It_Nth_NC_LbW_Bar/
Rce_It_Nth_NE_LdD_Ort/
Rce_It_Nth_NE_Ven_Ven/
Rce_It_Nth_NW_Lig_Lev/
Rce_It_Nth_NW_Lig_Lev\ Second\ Speaker/
Rce_It_Nth_NW_Prv_VGm/
Rce_It_Nth_Std/
Rce_PLg_Lat_Trad/
UCh_Chi_Sabancaya/
Mpg_Chl_Rgn9_Puerto_Saavedra_Dl/
Mpg_Chl_Rgn10_Huilliche_Aleucapi/
