#AuthName "Restricted Area" 
#AuthType Basic 
#AuthUserFile /var/www/shk/main/.htpasswd
#AuthGroupFile /dev/null 
#require valid-user

# Disabling the annoying magic quotes (http://www.php.net/manual/en/security.magicquotes.disabling.php):
php_flag magic_quotes_gpc Off

# Rewriting of routes:
RewriteEngine on
Options +FollowSymlinks -MultiViews

RewriteBase /shk/main/

# Rule to ignore subdirectories that are necessary:
RewriteRule ^(admin|css|export|img|js|templates).* - [L]
# Rule to match usual requests:
RewriteCond %{QUERY_STRING} (.+)
RewriteRule ^$ - [L]
# We use shortLinks if the query is empty, except for hl:
RewriteCond %{QUERY_STRING} ^$
RewriteRule ^(.+)$ ?shortLink=$1 [L]
# shortLinks are allowed with hl parameters:
RewriteCond %{QUERY_STRING} ^(hl=.+)$
RewriteRule ^(.+)$ ?shortLink=$1&%1 [L]
# If we've got a query, we redirect to root:
RewriteCond %{QUERY_STRING} (.+)
RewriteRule ^.+$ ?%1 [R,NE]

# Rules to aid searching
# FIXME figure out if searching is used/implemented/required!
#RewriteRule ^go/([^/]+)/([^/]*) ?search1=$1&search2=$2 [R,NC]
#RewriteRule ^go/([^/]*)         ?iso=$1                [R,NC]
