#AuthName "Restricted Area" 
#AuthType Basic 
#AuthUserFile /var/www/shk/main/.htpasswd
#AuthGroupFile /dev/null 
#require valid-user

RewriteEngine on
Options +FollowSymlinks -MultiViews

RewriteBase /shk/main/

# Rule for Spektrum der Wissenschaft 2014-01-13
RewriteRule ^AndesNumerals$ index.php?study=Andean&languages=Huancayo,Chimborazo,Cuzco,Tiwanaku,Chipaya:\ \ Aransaya&words=one,two,three,four,five,six,seven,eight,nine,ten&pageView=multiViewTransposed&wo_order=logical&wo_phLang=Ancestral\ Quechua [L,B]

# Rules to aid searching
RewriteRule ^go/([^/]+)/([^/]*) ?search1=$1&search2=$2 [R,NC]
RewriteRule ^go/([^/]*)         ?iso=$1                [R,NC]

# I've got to write my own rules here,
# I believe, because these are bringing in some trouble,
# that propagates trough the lower levels of the tree (no wonder)
### From http://stackoverflow.com/questions/8371634/hide-php-extension-htaccess
### to hide .php extension
### Unless directory, remove trailing slash
##RewriteCond %{REQUEST_FILENAME} !-d
##RewriteRule ^([^/]+)/$ $1 [R=301,L]

### Redirect external .php requests to extensionless url
##RewriteCond %{THE_REQUEST} ^(.+)\.php([#?][^\ ]*)?\ HTTP/
##RewriteRule ^(.+)\.php$ $1 [R=301,L]

### Resolve .php file for extensionless php urls
##RewriteRule ^([^/.]+)$ $1.php [L]
