<head>
  <title>{{title}}</title>
  <meta charset="UTF-8">
  <meta name="description" content="Sound Comparisons – Exploring Diversity in Phonetics across Language Families – Max Planck Institute for the Science of Human History (MPI-SHH), Jena/Germany">
  <meta name="keywords" content="Sound Comparisons, Phonetics, Heggarty, Languages, Sound">
  <meta name="author" content="Paul Heggarty et al.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="publisher" content="shh.mpg.de" />
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
  {{!
    Favicon madness:
    See https://stackoverflow.com/questions/23849377/html-5-favicon-support
  }}
  <!-- For IE 9 and below. ICO should be 32x32 pixels in size -->
  <!--[if IE]><link rel="shortcut icon" href="img/favicon.ico"><![endif]-->
  <link rel="icon" href="img/favicon.png" type="image/png" sizes="16x16">
  <link rel="icon" href="img/favicon.gif" type="image/gif" sizes="16x16">
  {{! CSS before scripts: }}
  <link href="css/extern/bootstrap.min.css" rel="stylesheet">
  <link href="css/extern/nanoscroller.css" rel="stylesheet">
  <link href="css/extern/leaflet.css" rel="stylesheet">
  <link href="css/extern/L.Control.Zoomslider.css" rel="stylesheet">
  <link href="css/myflow.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <!-- <link href="css/MarkerCluster.Default.css" rel="stylesheet"> -->
  <!-- <link href="css/MarkerCluster.css" rel="stylesheet"> -->
  <script src="js/extern/FileSaver.js"></script>
  {{! RequireJS to provide module magic: }}
  {{#requirejs}}
  <script data-main="{{requirejs}}" src="js/extern/require.js"></script>
  {{/requirejs}}
  {{#minifiedjs}}
  <script src="{{minifiedjs}}"></script>
  {{/minifiedjs}}
</head>
