
<div class="logo">
	<a target="_blank" title="{{funding}}" 
		href="http://www.shh.mpg.de/440148/soundcomparisons"><img src="img/minerva_black.png" width=80px style="padding:5px">
	</a>
</div>

<div class="langsel">
	<div class="dropdown">
		<button class="dropbtn">{{#currentFlag}}<img class="flag" src="{{.}}">{{/currentFlag}}</button>
		<div class="dropdown-content">
			{{#otherTranslations}}
			<a onclick="App.translationStorage.setTranslationId({{tId}});App.views.renderer.render();">{{#flag}}<img class="flag" src="{{.}}">{{/flag}}&nbsp;&nbsp;{{name}}</a>
			{{/otherTranslations}}
		</div>
	</div>
</div>

<center>
	<h1 style="margin-top:40px;"><span style="font-size:140%;">{{title}}</span></h1>
	<h2>{{subtitle}}</h2>
	<br /><br />
	<div class="tile_container">
			{{#studies}}
			<div style="cursor:pointer;" class="tile" onclick="location.href='#/{{siteLanguage}}/{{imgName}}/map';">
				<img class="tile_img tile_img_hover_info" src="img/ico-{{imgName}}.jpg"/>
				<div class="tile_subinfo" >{{studyTitle}}</div>
				<div class="tile_title">
					<b>{{studyName}}</b>
				</div>
			</div>
			{{/studies}}
	</div>
	<div style="clear: both;"></div>
	<div class="homeview_footer">
		<table><tr>
			<td><center><a target="_blank" href="{{imprintHref}}">§&nbsp;{{imprint}}</a></center></td>
			<td><center><a target="_blank" href="{{privacypolicyHref}}">§&nbsp;{{privacypolicy}}</a></center></td>
			<td>
				<a rel="license" target="_blank" href="{{licenceTextHref}}">
					<img src="img/cc-by-nc-nd.png" />
				</a>
			</td>
			<td>
				<center>
					<a rel="license"  target="_blank" href="{{licenceTextHref}}">
						<span style=font-size:90%;>{{{licenceText}}}.</span>
					</a>
				</center>
			</td>
		</tr></table>
	</div>
</center>
