{{# TopMenu}}
<div class="navbar-inner span2">
  <div id="home">
    <a title="{{homeTitle}}" href="#home"><i class="icon-home"></i></a>
  </div>
  <ul id="topmenuFamilies" class="nav">
    <li>
      <a class="dropdown-toggle topLink"
         data-toggle="dropdown"
         ><i class="icon-dropdown-custom"></i>{{currentStudyName}}</a>
      <ul class="dropdown-menu">
      {{#studies}}
        <li{{#isDivider}} class="divider disabled"{{/isDivider}}{{#currentStudy}} class="disabled"{{/currentStudy}}>
        {{^isDivider}}{{#link}}<a {{{.}}}>{{/link}}
        {{studyName}}
        {{#link}}</a>{{/link}}
        {{/isDivider}}
        </li>
      {{/studies}}
      </ul>
    </li>
  </ul>
</div>
<div class="navbar-inner span8">
  <ul class="nav nav-tabs">
    {{#pageViews}}
    <li {{#active}}class="active"{{/active}}>
      <a {{{link}}} {{^active}}class="topLink"{{/active}} title="{{title}}">
      {{#img}}<img class="pvImg" src="img/{{img}}">{{/img}}
      {{{content}}}
      </a>
    </li>
    {{/pageViews}}
  </ul>
  {{#isOnline}}
  <span id="topmenuDownloads" class="nav input-append btn-group">
    <img id="createShortLink" title="{{createShortLink}}" class="btn btn-mini icon" src="img/link.png">
    <div class="btn btn-mini disabled">
      <i class="icon-download-alt"></i>
    </div>
    <a href="{{csvLink}}" target="_blank" class="btn btn-mini" title="{{csvTitle}}">
      <img src="img/DownloadTranscriptions.png" style="height: 18px;">
    </a>
    <a href="{{tsvLink}}" target="_blank" class="btn btn-mini" title="{{tsvTitle}}">
      <img src="img/edictor-small.png" style="height: 18px;">
    </a>
    <a target="_blank" class="btn btn-mini soundFile" title="{{sndTitle}}">
      <i class="icon-volume-up"></i>
    </a>
    <a class="btn btn-mini btn-dropdown" data-toggle="dropdown" title="{{cogTitle}}">
      <i class="icon-cog"></i>
    </a>
    <ul class="dropdown-menu">
      <li>
        <label class="checkbox">
          <input type="checkbox" value="" id="wordByWordCheckbox">
          {{wordByWord}}
        </label>
      </li>
      <li class="divider"></li>
      <li>
        {{format}}
        {{#formats}}
        <label class="radio">
          <input type="radio" name="wordByWordFormat" value="{{.}}">{{.}}
        </label>
        {{/formats}}
      </li>
    </ul>
  </span>
  {{/isOnline}}
</div>
<div class="navbar-inner span2">
  <ul id="topmenuSettings" class="nav nav-tabs" style="margin-left:5px !important">
    <li>
      <button type="button" data-toggle="dropdown" class="btn btn-mini dropdown-toggle" title="{{settingTitle}}" style="height:22px !important;margin-top:3px !important"><i class="icon-wrench"></i></button>
      <ul class="dropdown-menu">
        <li>
          {{ipaTooltipFontSize}}
          {{#IPATooltipFontSize}}
          <label class="radio">
            <input type="radio" name="IPATooltipFontSize" value="{{.}}">{{.}}
          </label>
          {{/IPATooltipFontSize}}
        </li>
        <li>
          {{showDataAs}}
          {{#ShowDataAs}}
          <label class="radio">
            <input type="radio" name="ShowDataAs" value="{{val}}">{{display}}
          </label>
          {{/ShowDataAs}}
        </li>
        <li>
          {{coloriseDataAs}}
          {{#ColoriseDataAs}}
          <label class="radio">
            <input type="radio" name="ColoriseDataAs" value="{{val}}">{{display}}
          </label>
          {{/ColoriseDataAs}}
        </li>
      </ul>
    </li>
  </ul>
  <ul id="topmenuSiteLang" class="nav">
    <li>
      <a class="dropdown-toggle topLink" data-toggle="dropdown">
         {{#currentFlag}}<img class="flag" src="{{.}}">{{/currentFlag}}
         <span class="caret"></span>
       </a>
      <ul class="dropdown-menu">
        {{#otherTranslations}}
        <li><a onclick="App.translationStorage.setTranslationId({{tId}});setTimeout(function(){App.views.renderer.render();},100);">{{#flag}}<img class="flag" src="{{.}}">{{/flag}}{{name}}</a></li>
        {{/otherTranslations}}
      </ul>
    </li>
  </ul>
  <ul id="topmenuSoundOptions" class="nav nav-tabs">
    <li>
      <img value="hover" class="btn btn-mini{{#soundOptionHover}} hide{{/soundOptionHover}}"
      title="{{soundClickTitle}}" src="img/hover.png">
      <img value="click" class="btn btn-mini{{^soundOptionHover}} hide{{/soundOptionHover}}"
      title="{{soundHoverTitle}}" src="img/click.png">
    </li>
  </ul>
  <ul id="topmenuMisc" class="nav nav-tabs">
    <li>
      <img id="openContributors" title="{{viewContributors}}" class="btn btn-mini icon" src="img/people.png">
    </li>
  </ul>
  {{#isOnline}}
  <ul id="topmenuAbout" class="nav">
    <li>
      <a class="dropdown-toggle topLink"
         data-toggle="dropdown">
        <img src="img/info.png">
      </a>
      <ul class="dropdown-menu">
        {{#aboutEntries}}
        <li><a {{{target}}} {{{link}}}>{{about}}</a></li>
        {{/aboutEntries}}
      </ul>
    </li>
  </ul>
  {{/isOnline}}
  <ul id="logo">
  <a target="_blank"
     title="{{logoTitle}}"
     href="http://www.shh.mpg.de/440148/soundcomparisons"
     ><img src="img/logo.png"></a>
  </ul>
</div>
{{/ TopMenu}}
