<div class="row-fluid">
  {{#wordHeadline}}
  {{#prev}}
  <div class="span3 prev-next">
    <a id="prevLink" {{{link}}} title="{{ttip}}" class="pull-left nounderline">
    <div class="color-word inline">{{trans}}{{#ttip}}…{{/ttip}} </div>← {{title}}</a>
  </div>
  {{/prev}}
  <div class="span6 centertext" id="tableHeader">
    <h1 class="color-word fontsize200pc">
      {{name}}
      {{#mapsLink}}
      {{> WordMapsLink}}
      {{/mapsLink}}
    </h1>
  </div>
  {{#next}}
  <div class="span3 prev-next">
    <a id="nextLink" {{{link}}} title="{{ttip}}" class="pull-right nounderline">
      {{title}} →<div class="color-word inline"> {{trans}}{{#ttip}}…{{/ttip}}</div>
    </a>
  </div>
  {{/next}}
  {{/wordHeadline}}
</div>
