<div class="navbar myflow row-fluid" id="topMenu">
  {{> TopMenu}}
</div>
<div class="container-fluid hide">
  <a class="hidelink btn"
     data-name="hidelink_left" data-target="#leftMenu"
     title="{{hidelinkLeft}}">
    <i class="icon-chevron-left"></i>
  </a>
  <a class="hidelink btn"
     data-name="hidelink_right" data-target="#rightMenu"
     title="{{hidelinkRight}}" style="right: 5px;">
    <i class="icon-chevron-right"></i>
  </a>
  <div class="mycontent myflow row-fluid">
    <div class="span2 well" id="leftMenu">
      {{> LanguageMenu}}
    </div>
    <div id="contentArea"{{#isMapView}} style="bottom:2em;"{{/isMapView}} class="span8">
      <div id="wordTableContainer" class="hide">
        {{> WordTable}}
      </div>
      <div id="languageTableContainer" class="hide">
        {{> LanguageTable}}
      </div>
      <div id="mapViewContainer" class="hide">
        {{> MapView}}
      </div>
      <div id="map_canvas" class="hide"></div>
      <div id="multitableContainer" class="hide">
        {{> Multitable}}
      </div>
      <div id="multitableTransposedContainer" class="hide">
        {{> MultitableTransposed}}
      </div>
      <div id="contributors" class="hide">
        {{> contributors}}
      </div>
    </div>
    <div id="rightMenu" class="span2 well">
      {{> WordMenu}}
    </div>
  </div>
</div>
{{# appSetup}}
<div id="appSetup" class="row-fluid">
  <div class="span4 offset4 well">
    <h3>Loading…</h3>
    <div class="progress progress-striped active">
      <div class="bar" style="width: 1%;"></div>
    </div>
  </div>
</div>
{{/ appSetup}}
{{# saveLocation}}
<div id="saveLocation" {{{.}}}></div>
{{/ saveLocation}}
{{# ipaKeyboard}}
{{> ipaKeyboard}}
{{/ ipaKeyboard}}
{{# stopwatch}}
{{> stopwatch}}
{{/ stopwatch}}
<div class="modal hide" id="loadModal" role="dialog" tabindex="-1">
  {{> LoadModal}}
</div>
<audio id="audioLogic" class="hide"><audio>
