{{# contributors}}
<div id="/whoAreWe/{{initials}}" class="well contributor">
  <h3>{{name}}<a href="#/whoAreWe/{{initials}}" class="anchor"><img src="img/link.png" class="icon"></img></a>:</h3>
  <div class="row-fluid">
    <div class="span1"><img src="{{{img}}}" class="img-rounded avatar"></div>
    <div class="offset1 span11">
      <dl class="dl-horizontal">
        {{# role}}
        <dt>Contributions</dt><dd>{{{.}}}</dd>
        {{/ role}}
        {{# website}}
        <dt>Website</dt><dd><a href="{{{.}}}" target="_blank">{{{.}}}</a></dd>
        {{/ website}}
        {{# email}}
        <dt>Email</dt><dd>{{.}}</dd>
        {{/ email}}
      </dl>
    </div>
  </div>
</div>
{{/ contributors}}
