{{# LanguageMenu}}
<h3 class="color-language">{{headline}}</h3>
<h6>
  {{languageSets}}
  <a {{{collapseHref}}} title="{{collapseTitle}}"><i class="icon-minus"></i></a>
  <a {{{expandHref}}} title="{{expandTitle}}"><i class="icon-plus"></i></a>
</h6>
{{#families}}
<div class="nano">
  <dl class="familyList nano-content">
    <dt style="background-color: {{color}};">
      {{#checkbox}}
        <a {{{link}}}{{#title}} title="{{title}}"{{/title}}><i class="{{icon}}"></i></a>
      {{/checkbox}}
      <a class="color-family" {{{link}}}>{{name}}</a>
    </dt>
    <dd>{{#RegionList}}{{> RegionList}}{{/RegionList}}</dd>
  </dl>
</div>
{{/families}}
{{#RegionList}}
<div class="nano">
{{> RegionList}}
</div>
{{/RegionList}}
{{/ LanguageMenu}}
