{% include 'header.html' %}

	<div class="container">
	
		<div class="pane">
		
			<h1 class="reverse">New lexeme</h1>
					
			<form action="{{url_for('new_lexeme_item')}}" method="post">
			
				<p>Lexeme:</p><br>
				<input type="text", size="30", name="lex" placeholder="lexeme"><br>
				<input type="text", size="30", name="meaning" placeholder="meaning"><br>
				<input type="text", size="30", name="cognate_id" placeholder="cognate id"><br>
				<input type="text", size="30", name="cognate_sources" placeholder="cognate sources"><br>
				<input type="text", size="30", name="iso_lang_code" placeholder="language code"><br>
				<input type="text", size="30", name="lexeme_sources" placeholder="lexeme sources"><br>			
				<input type="submit" value="Create"><br>
			
			</form>
		
		</div>
	
	</div>


{% include 'footer.html' %}