<div class="audio">
  {{#historical}}*{{/historical}}
  {{#hasTrans}}[{{/hasTrans}}
  {{^hasTrans}}|{{/hasTrans}}
  <div class="transcription{{#fileMissing}} fileMissing{{/fileMissing}}"{{#smallCaps}} style="font-variant: small-caps;"{{/smallCaps}}>
    &#8239;{{{phonetic}}}&#8239;
  </div>
  {{#hasTrans}}]{{/hasTrans}}
  {{^hasTrans}}|{{/hasTrans}}
  {{#subscript}}
  <div class="subscript" title="{{$ttip}}">{{subscript}}</div>
  {{/subscript}}
  {{#notCognate}}
  <div class="superscript" title="{{ttip}}">{{sInf}}</div>
  {{/notCognate}}
  <audio data-onDemand='{{{srcs}}}' preload="auto" autobuffer=""></audio>
</div>
{{#_srcs}}
<div class="subscript wordByWord soundFile"{{^wordByWord}} style="display: none;"{{/wordByWord}}>
  <a href="export/singleSoundFile?file={{.}}" target="_blank">↓</a>
</div>
{{/_srcs}}
{{#identifier}}
<div class="subscript wordByWord"{{^wordByWord}} style="display: none;"{{/wordByWord}}>
  <a href="export/singleTextFile?word={{word}}&language={{language}}&study={{study}}&n={{n}}" target="_blank">↧</a>
</div>
{{/identifier}}
{{#break}}<br>{{/break}}
