<!DOCTYPE HTML>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    {{! CSS before scripts: }}
    <link href="css/extern/bootstrap.min.css" rel="stylesheet">
    <link href="css/myflow.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body class="container-fluid">
    <div class="row-fluid">
      <div class="span4 offset4 well">
        <h2>{{title}}</h2>
        {{description}}
        <br>
        <a href=".">{{aText}}</a>
      <div>
    <div>
  </body>
</html>
