<div class="modal-header">
  {{# exit}}
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  {{/ exit}}
  <h3>{{headline}}</h3>
</div>
<div class="modal-body">
  <table>
    <tbody>
      {{#entries}}
      <tr>
        <td>{{label}}</td>
        <td><input type="text" value="{{url}}" class="urlInput" style="margin-bottom: 0px;"></td>
        <td><input type="button" class="btn btn-info copyBtn" value="{{copyBtn}}"></td>
      </tr>
      {{/entries}}
    </tbody>
  </table>
</div>
