{{# TopMenu}}
<div class="navbar-inner span2">
  <div id="logo">
  <a target="_blank"
     title="{{logoTitle}}"
     href="http://www.eva.mpg.de/lingua/"
     ><img src="img/logo.png"></a>
  </div>
  <ul id="topmenuFamilies" class="nav">
    <li>
      <a class="dropdown-toggle topLink"
         data-toggle="dropdown"
         ><i class="icon-dropdown-custom"></i>{{currentStudyName}}</a>
      <ul class="dropdown-menu">
      {{#studies}}
        <li{{#currentStudy}} class="disabled"{{/currentStudy}}>
        {{#link}}<a {{{.}}}>{{/link}}
        {{studyName}}
        {{#link}}</a>{{/link}}
        </li>
      {{/studies}}
      </ul>
    </li>
  </ul>
</div>
<div class="navbar-inner span8">
  <ul class="nav nav-tabs">
    {{#pageViews}}
    <li {{#active}}class="active"{{/active}}>
      <a {{{link}}} {{^active}}class="topLink"{{/active}} title="{{title}}">
      {{#img}}<img class="pvImg" src="img/{{img}}">{{/img}}
      {{{content}}}
      </a>
    </li>
    {{/pageViews}}
  </ul>
  <span id="topmenuDownloads" class="nav input-append btn-group">
    <div class="btn btn-mini disabled">
      <i class="icon-download-alt"></i>
    </div>
    <a href="{{csvLink}}" target="_blank" class="btn btn-mini" title="{{csvTitle}}">
      <img src="img/DownloadTranscriptions.png" style="height: 18px;">
    </a>
    <a target="_blank" class="btn btn-mini soundFile" title="{{sndTitle}}">
      <i class="icon-volume-up"></i>
    </a>
    <a class="btn btn-mini btn-dropdown" data-toggle="dropdown" href="#" title="{{cogTitle}}">
      <i class="icon-cog"></i>
    </a>
    <ul class="dropdown-menu">
      <li>
        <label class="checkbox">
          <input type="checkbox" value="" id="wordByWordCheckbox">
          {{wordByWord}}
        </label>
      </li>
      <li class="divider"></li>
      <li>
        {{format}}
        {{#formats}}
        <label class="radio">
          <input type="radio" name="wordByWordFormat" value="{{.}}">{{.}}
        </label>
        {{/formats}}
      </li>
    </ul>
  </span>
</div>
<div class="navbar-inner span2">
  <ul id="topmenuSiteLang" class="nav">
    <li>
      <a class="dropdown-toggle topLink" data-toggle="dropdown">
         <i class="icon-dropdown-custom"></i>
         {{#currentFlag}}<img class="flag" src="{{.}}">{{/currentFlag}}
         </a>
      <ul class="dropdown-menu">
        {{#otherTranslations}}
        <li><a {{{link}}}>{{#flag}}<img class="flag" src="{{.}}">{{/flag}}{{name}}</a></li>
        {{/otherTranslations}}
      </ul>
    </li>
  </ul>
  <ul id="topmenuSoundOptions" class="nav nav-tabs">
    <li>
      <img value="hover" class="btn btn-mini{{#soundOptionHover}} hide{{/soundOptionHover}}"
      title="{{soundClickTitle}}" src="img/hover.png">
      <img value="click" class="btn btn-mini{{^soundOptionHover}} hide{{/soundOptionHover}}"
      title="{{soundHoverTitle}}" src="img/click.png">
    </li>
  </ul>
  <ul id="topmenuMisc" class="nav nav-tabs">
    <li>
      <img id="createShortLink" title="{{createShortLink}}" class="btn btn-mini icon" src="img/link.png">
    </li>
  </ul>
  <ul id="topmenuAbout" class="nav">
    <li>
      <a class="dropdown-toggle topLink"
         data-toggle="dropdown">
        <img id="topMenuInfo" src="img/info.png">
      </a>
      <ul class="dropdown-menu">
        {{#aboutEntries}}
        <li><a {{{link}}}>{{about}}</a></li>
        {{/aboutEntries}}
      </ul>
    </li>
  </ul>
</div>
{{/ TopMenu}}
