<div id="contentArea"{{#isMapView}} style="bottom:2em;"{{/isMapView}} class="span8">
  {{# isWordView}}
  {{# WordTable}}
  {{> WordTable}}
  {{/ WordTable}}
  {{/ isWordView}}
  {{# isLanguageView}}
  {{# LanguageTable}}
  {{> LanguageTable}}
  {{/ LanguageTable}}
  {{/ isLanguageView}}
  {{# isMapView}}
  {{# MapView}}
  {{> MapView}}
  {{/ MapView}}
  {{/ isMapView}}
  {{# isMultiView}}
  {{# Multitable}}
  {{> Multitable}}
  {{/ Multitable}}
  {{/ isMultiView}}
  {{# isMultiViewTransposed}}
  {{# MultitableTransposed}}
  {{> MultitableTransposed}}
  {{/ MultitableTransposed}}
  {{/ isMultiViewTransposed}}
  {{# isWhoAreWeView}}
  {{# contributors}}
  {{> contributors}}
  {{/ contributors}}
  {{/ isWhoAreWeView}}
</div>
