<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  {{! External .js files: }}
  <script src="js/extern/jquery.min.js"></script>
  <script src="js/extern/bootstrap.js"></script>
  <script src="js/extern/underscore-min.js"></script>
  <script src="js/extern/backbone-min.js"></script>
  {{! Check if these are still necessary: }}
  <script src="js/extern/jquery.cookie.js"></script>
  <script src="js/extern/jquery.scrollTo-1.4.2-min.js"></script>
  <script src="js/extern/jquery.mousewheel.min.js"></script>
  <script src="js/extern/jquery.json-2.3.min.js"></script>
  <script src="js/extern/mustache.js"></script>
  <script src="js/extern/lz-string-1.3.3-min.js"></script>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=geometry"></script>
  {{! Custom scripts: }}
  <script src="js/models/Map.js"></script>
  <script src="js/models/Contributor.js"></script>
  <script src="js/models/DataStorage.js"></script>
  <script src="js/models/Defaults.js"></script>
  <script src="js/models/DownloadOptions.js"></script>
  <script src="js/models/Family.js"></script>
  <script src="js/models/MeaningGroup.js"></script>
  <script src="js/models/SoundPlayOption.js"></script>
  <script src="js/models/StudyWatcher.js"></script>
  <script src="js/models/Study.js"></script>
  <script src="js/models/TemplateStorage.js"></script>
  <script src="js/models/TranslationStorage.js"></script>
  <script src="js/models/ViewWatcher.js"></script>
  <script src="js/models/WordOverlay.js"></script>
  <script src="js/models/Language.js"></script>
  <script src="js/models/LanguageStatusType.js"></script>
  <script src="js/models/LinkInterceptor.js"></script>
  <script src="js/models/LoadingBar.js"></script>
  <script src="js/models/Logger.js"></script>
  <script src="js/models/PlaySequence.js"></script>
  <script src="js/models/Region.js"></script>
  <script src="js/models/RegionLanguage.js"></script>
  <script src="js/models/Transcription.js"></script>
  <script src="js/models/TranscriptionMap.js"></script>
  <script src="js/models/TranscriptionSuperscript.js"></script>
  <script src="js/models/Word.js"></script>
  <script src="js/collections/ContributorCollection.js"></script>
  <script src="js/collections/FamilyCollection.js"></script>
  <script src="js/collections/LanguageCollection.js"></script>
  <script src="js/collections/LanguageStatusTypeCollection.js"></script>
  <script src="js/collections/MeaningGroupCollection.js"></script>
  <script src="js/collections/RegionCollection.js"></script>
  <script src="js/collections/RegionLanguageCollection.js"></script>
  <script src="js/collections/TranscriptionSuperscriptCollection.js"></script>
  <script src="js/collections/WordCollection.js"></script>
  <script src="js/views/DownloadOptionView.js"></script>
  <script src="js/views/AudioLogic.js"></script>
  <script src="js/views/HideLinks.js"></script>
  <script src="js/views/IPAKeyboardView.js"></script>
  <script src="js/views/MapView.js"></script>
  <script src="js/views/SoundControlView.js"></script>
  <script src="js/views/MouseTrackView.js"></script>
  <script src="js/views/SoundPlayOptionView.js"></script>
  <script src="js/views/ColorCalcView.js"></script>
  <script src="js/views/WordlistFilter.js"></script>
  <script src="js/views/WordOverlayView.js"></script>
  <script src="js/views/LoadingBarView.js"></script>
  <script src="js/views/PlaySequenceView.js"></script>
  <script src="js/views/SetupBarView.js"></script>
  <script src="js/views/SingleLanguageView.js"></script>
  <script src="js/views/WhoAreWeView.js"></script>
  <script src="js/views/render/Renderer.js"></script>
  <script src="js/views/render/TopMenuView.js"></script>
  <script src="js/Router.js"></script>
  <script src="js/App.js"></script>
  <link href="css/extern/bootstrap.min.css" rel="stylesheet">
  <link href="css/myflow.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  {{! Analytics: }}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-28740209-1', '127.0.0.1');
    ga('send', 'pageview');
  </script>
</head>
