<table id="multitabletrans" class="table table-bordered table-striped">
  <thead>
    <tr>
      <th></th><th></th>
      {{#isLogical}}
      <th></th>
      {{/isLogical}}
      {{#regions}}
      <th colspan="{{cspan}}" {{{color}}}>{{name}}</th>
      {{/regions}}
    </tr>
    <tr>
      {{#isLogical}}
      <th></th>
      {{/isLogical}}
      <th>{{deleteAll}}
        <a {{{clearLanguagesLink}}} class="color-language">{{clearLanguagesText}}<i class="icon-arrow-right"></i></a>
      </th>
      <th></th>
      {{#languages}}
      {{#isFake}}
      <th class="languageCell color-language">{{shortName}}</th>
      {{/isFake}}
      {{^isFake}}
      <th class="languageCell">
        <a {{{deleteLanguageLink}}} title="{{deleteLanguageTtip}}" class="remove"><i class="icon-remove-custom"></i></a>
        <a class="tableLink color-language" {{{link}}} title="{{ttip}}">{{{shortName}}}</a><br />
      </th>
      {{/isFake}}
      {{/languages}}
    </tr>
    <tr>
      {{#isLogical}}
      <th></th>
      {{/isLogical}}
      <th>{{deleteAll}}
        <a {{{clearWordsLink}}} class="color-word">{{clearWordsText}}<i class="icon-arrow-down"></i></a>
      </th>
      <th>
        <a {{{transposeLink}}}><img src="img/transpose.png" title="{{transposeTtip}}" /></a>
      </th>
      {{#languages}}
      <th>
        {{#playTtip}}
        <i class="multitablePlayNs icon-eject rotate180" title="{{playTtip}}"></i>
        {{/playTtip}}
      </th>
      {{/languages}}
    </tr>
  </thead>
  <tbody>
    {{#rows}}
    <tr>
      {{#meaningGroup}}
      {{#clearRow}}
      <td colspan="{{clearRow}}" class="spaceRow"></td></tr><tr>
      {{/clearRow}}
      <td class="regionCell color-region" rowspan="{{rSpan}}">{{name}}</td>
      {{/meaningGroup}}
      {{#words}}
      {{#fake}}
      {{#isLogical}}
      <td></td>
      {{/isLogical}}
      <td class="color-word">
        {{trans}}
      </td>
      <td></td>
      {{/fake}}
      {{^fake}}
      <td>
        <a class="tableLink color-word" {{{link}}} title="{{ttip}}">{{trans}}</a>
        <a {{{deleteWordLink}}} title="{{deleteWordTtip}}" class="remove"><i class="icon-remove-custom"></i></a>
      </td>
      <td class="icons">{{{maps}}}
        <i class="icon-eject rotate90 multitablePlayWe" title="{{playTtip}}"></i>
      </td>
      {{/fake}}
      {{#transcriptions}}
      <td class="transcription">
        {{fake}}
        {{#spelling}}
        <div class="altSpelling">{{.}}</div>
        {{/spelling}}
        {{{phonetic}}}
      </td>
      {{/transcriptions}}
      {{/words}}
    </tr>
    {{/rows}}
  </tbody>
</table>
