<div class="navbar myflow row-fluid" id="topMenu">
  <div class="navbar-inner span2">
    <div id="logo">
    <a target="_blank"
       title="{{logoTitle}}"
       href="http://www.eva.mpg.de/lingua/"
       ><img src="img/logo.png"></a>
    </div>
    <ul id="topmenuFamilies" class="nav">
      <li>
        <a class="dropdown-toggle topLink"
           data-toggle="dropdown"
           ><i class="icon-dropdown-custom"></i>{{currentStudyName}}</a>
        <ul class="dropdown-menu">
        {{#studies}}
          <li>
          {{#currentStudy}}
          <i class="icon-hand-right" style="margin-left: 3px; margin-right: 6px;"></i>
          {{/currentStudy}}
          {{#link}}<a {{{.}}}>{{/link}}
          {{studyName}}
          {{#link}}</a>{{/link}}
          </li>
        {{/studies}}
        </ul>
      </li>
    </ul>
  </div>
  <div class="navbar-inner span8">
  <ul class="nav nav-tabs">
    <div class="brand">{{pageViewTitle}}</div>
    {{#pageViews}}
    <li {{#active}}class="active"{{/active}}>
      <a {{{link}}} {{^active}}class="topLink"{{/active}} title="{{title}}">
      {{#img}}<img class="pvImg" src="img/{{img}}">{{/img}}
      {{{content}}}
      </a>
    </li>
    {{/pageViews}}
  </ul>
  <span id="topmenuDownloads" class="nav input-append">
    <a {{{csvLink}}} class="btn btn-mini" title="{{csvTitle}}">
      <i class="icon-download-alt"></i>
      <img src="img/DownloadTranscriptions.png" style="height: 18px;">
    </a>
    <a {{{sndLink}}} target="_blank" class="btn btn-mini" title="{{sndTitle}}">
      <i class="icon-download-alt"></i>
      <i class="icon-volume-up"></i>
    </a>
  </span>
  </div>
  <div class="navbar-inner span2">
    <ul id="topmenuSiteLang" class="nav">
      <li>
        <a class="dropdown-toggle topLink"
           data-toggle="dropdown">
           <i class="icon-dropdown-custom"></i>
           {{#currentFlag}}<img class="flag" src="{{.}}">{{/currentFlag}}
           </a>
        <ul class="dropdown-menu">
          {{#otherTranslations}}
          <li><a {{{link}}}>{{#flag}}<img class="flag" src="{{.}}">{{/flag}}{{name}}</a></li>
          {{/otherTranslations}}
        </ul>
      </li>
    </ul>
    <ul id="topmenuSoundOptions" class="nav nav-tabs">
      <li>
        <img value="hover" class="btn btn-mini hide" title="{{soundClickTitle}}" src="img/hover.png">
        <img value="click" class="btn btn-mini" title="{{soundHoverTitle}}" src="img/click.png">
      </li>
    </ul>
    <ul id="topmenuAbout" class="nav">
      <li>
        <a class="dropdown-toggle topLink"
           data-toggle="dropdown">
          <img src="img/info.png">
        </a>
        <ul class="dropdown-menu">
          {{#aboutEntries}}
          <li><a {{{link}}}>{{about}}</a></li>
          {{/aboutEntries}}
        </ul>
      </li>
    </ul>
  </div>
</div>
