{{#wordHeadline}}
{{> WordHeadline}}
{{/wordHeadline}}
<table id="singleWordTable" class="table table-bordered table-striped">
  <tbody>
    <i class="icon-eject rotate90" id="wordHeadline_playAll" title="{{wordHeadlinePlayAll}}"></i>
    {{#rows}}
    {{#spaceRow}}
    <tr><td class="spaceRow" colspan="6"></td></tr>
    {{/spaceRow}}
    <tr {{#data-i}}data-i="{{{data-i}}}"{{/data-i}}>
      {{#cells}}
      {{^isLanguageCell}}
      <th rowspan="{{rowSpan}}" style="background-color: #{{color}};">{{name}}</th>
      {{/isLanguageCell}}
      {{#isLanguageCell}}
      <td>
        <a class="tableLink color-language" {{{link}}} title="{{longName}}">{{{shortName}}}</a>
        <br />
        {{#spelling}}
        <div class="altSpelling">{{spelling}}</div>
        {{/spelling}}
        {{{phonetic}}}
      </td>
      {{/isLanguageCell}}
      {{/cells}}
    </tr>
    {{/rows}}
  </tbody>
</table>
