<div id="rightMenu" class="span2 well">
  <h3 class="color-word">{{title}}</h3>
  {{#sortBy}}
  {{> SortBy}}
  {{/sortBy}}
  {{#searchFilter}}
  {{> SearchFilter}}
  {{/searchFilter}}
  {{#isLogical}}
  <h6>
    {{meaningSets}}:
    <a title="{{expand}}" {{{ahref}}}><i class="icon-plus"></i></a>
    <a title="{{collapse}}" {{{nhref}}}><i class="icon-minus"></i></a>
  </h6>
  <dl class="meaninggroupList">
    {{#meaningGroups}}
    <dt class="{{fold}}">
      {{#checkbox}}
      <a {{{link}}} title="{{ttip}}"><i class="{{icon}}"></i></a>
      {{/checkbox}}
      <a class="color-meaninggroup" {{{link}}}><i class="{{triangle}}"></i>{{name}}</a>
    </dt>
    {{#wordList}}
    <dd>
      {{> WordList}}
    </dd>
    {{/wordList}}
    {{/meaningGroups}}
  </dl>
  {{/isLogical}}
  {{#wordList}}
  {{> WordList}}
  {{/wordList}}
</div>
