<ul class="wordList">
  {{#words}}
  <li{{#selected}} class="selected"{{/selected}}>
    <div class="p50 color-word" data-canonicalName="{{cname}}">
      {{#icon}}
      <a title="{{ttip}}" {{{link}}}><i class="{{icon}}"></i></a>
      {{/icon}}
      <a class="color-word wordLinkModernName" title="{{ttip}}" {{{link}}}>{{trans}}{{#ttip}}…{{/ttip}}</a>
      {{#subscript}}
      <div class="subscript" title="{{ttip}}">{{subscript}}</div>
      {{/subscript}}
    </div><div class="p50">{{#phonetic}}{{> Phonetics}}{{/phonetic}}</div>
  </li>
  {{/words}}
</ul>
